{{outlet}}
<div class="mrg-top-10">
		<div class='form-group col-xs-6 col-md-6' >
			<div class='form-group col-xs-12 col-md-12'>
				{{input type="text" value=model.name placeholder="items name" class='form-control' }}
			</div>	
			<div class='form-group col-xs-6 col-md-6' >
				{{input type="number" value=model.quantity placeholder="add quantity" class='form-control' }}
			</div>
			<div class='form-group col-xs-6 col-md-6' >
				{{input type="number" value=model.price placeholder="add price" class='form-control' }}
			</div>
			<div class='form-group col-xs-12 col-md-12' >
		    	<button class='btn custom_black' {{action "editItem" model.shop_id model}}>Edit Item</button>
			</div>
			
		</div>
		
	</div>