<div class='container'>
	<ul class="shop_list">                
    <div class="row">
   		{{#each model as |shop|}}
    		<li class="shop_list_item">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
            {{#link-to "shop-items" shop.id }} {{shop.name}} {{/link-to}} 
          </div>  
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
          {{#link-to "shop-edit" shop.id }}<button class='btn btn-success custom_button'>Edit Shop</button>{{/link-to}}
            <button class='btn btn-danger custom_button' {{action "deleteShop" shop.id}}>Delete Shop</button> 
          </div>  
        </li>
  		{{/each}}
      
     </div> 
  	</ul>
	    <div class='form-group col-xs-6 col-md-6 mrg-top-10' >
  
		     {{input type="text" value=shopName placeholder="add shop" class='form-control'}}
      </div>
      <div class='form-group col-xs-12 col-md-12' >
          <button class='btn custom_black' {{action "addShop" shopName}}>Add Shop</button>
      </div>
      
        
    
</div>  
