<div class='form-group col-xs-6 col-md-6 mrg-top-10' >
  
     {{input type="text" value=model.name placeholder="add shop" class='form-control'}}
</div>
<div class='form-group col-xs-12 col-md-12' >
  <button class='btn custom_black' {{action "editShop" model}}>Save</button>
</div>
