{{yield}}
	<table  class="shop_table">
	  <tr>
	    <th>Name</th>
	    <th>Quantity</th> 
	    <th>Price</th>
	    <th>Action</th>
	  </tr>
	  
	    {{#each items.items as |item|}}
		    <tr>
				<td>{{item.name}}</td>
				<td>{{item.quantity}}</td>
				<td>{{item.price}}$</td>
				<td>{{#link-to "item-edit" item.id }}
					<button class='btn btn-success'>
						<i class="fa fa-pencil" aria-hidden="true"></i>
					</button>
					{{/link-to}}
				</td>
				<td>
					<button class='btn btn-danger' {{action "deleteItem" item.id}}>
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</button>
				</td>
			</tr>		
		{{/each}}
		<tr>
            <td></td>
            <td></td>
            <td>{{items.totalCount}}$</td>
            <td></td>
        </tr>
	  
  	</table>
  	
  	<div class="row mrg-top-10">
		<div class='form-group col-xs-6 col-md-6' >
			<div class='form-group col-xs-12 col-md-12'>
				{{input type="text" value=items.items.name placeholder="items name" class='form-control' }}
			</div>	
			<div class='form-group col-xs-6 col-md-6' >
				{{input type="number" value=items.items.quantity placeholder="add quantity" class='form-control' }}
			</div>
			<div class='form-group col-xs-6 col-md-6' >
				{{input type="number" value=items.items.price placeholder="add price" class='form-control' }}
			</div>
			<div class='form-group col-xs-12 col-md-12' >
		    	<button class='btn custom_black' {{action "addItem" items.id items.items}}>Add Item</button>
			</div>
			
		</div>
		
	</div>
