@import "bootstrap";
.table_title{
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
}
.shop_list{
    list-style: none;
    border: 2px dotted grey;
    border-radius: 5px;
    background: #F5F5F5;
    padding: 20px 35px;
}
.shop_list_item{
    border-bottom: 1px solid #BBBBBB;
    overflow: auto;
    padding:5px 0px;
}
.no-padding{
    padding:0px;
}
.shop_name{    
    font-size: 20px;
    text-transform: capitalize;
    font-family: monospace;
    margin-bottom: 0px; 
}
.custom_button {
    border-radius: 0px;
    width:88px;
}
.shop_table{
    width:100%;
    
}
.shop_table, .shop_table th, .shop_table td{
    padding:10px;
    text-align: center;
    border: 2px dotted grey;
    background: #F5F5F5;
    font-size: 18px;
    font-family: monospace;
}

.shop_table td {
    border-top:1px solid #BBBBBB;
    border-bottom:1px solid #BBBBBB;
}
.custom_black{
    background: #000;
    color:#fff;
    width: 200px;
    border-radius:0px;
    margin: 10px 0px; 
}
.custom_black:hover{
    background: #BBBBBB;
    color:#000;
}
.mrg-top-10{
	margin-top:10px;
}
